@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exitButton {
  background-color: #e5b0f8;
  border: 0;
  outline: 0;
  cursor: pointer;
  grid-area: x;
}

.title {
  grid-area: t;
  background-color: #e5b0f8;
  color: white;
  font-size: 30px;
}

.taskName {
  background-color: #e5b0f8;
  color: white;
  padding-left: 22px;
  font-size: 30px;
  border: 0;
  outline: 0;
  grid-area: n;
}

.taskName::placeholder {
  color: white;
}

.startButton {
  background-color: #e5b0f8;
  border: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  outline: 0;
  grid-area: s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton::placeholder {
  color: white;
}

.endButton {
  background-color: #e5b0f8;
  border: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  outline: 0;
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endButton::placeholder {
  color: white;
}

.dailyButton {
  background-color: #e5b0f8;
  border: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  outline: 0;
  cursor: pointer;
  grid-area: d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onceButton {
  background-color: #e5b0f8;
  border: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  outline: 0;
  cursor: pointer;
  grid-area: o;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  text-decoration: underline;
}

.enter {
  background-color: #e5b0f8;
  border: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  outline: 0;
  cursor: pointer;
  grid-area: z;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4.38fr 1fr;
  background-color: #e5b0f8;
}

.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: white;
  display: grid;
  grid-template-columns: 3.67fr 1.548fr 2.67fr 1.32fr 1fr 1fr 1fr 1.32fr 2.67fr 1.548fr 2.35fr 1.17fr 0.1fr;
  grid-template-rows: 5px 35px 26px 68px 48px 69px 48px 32px 3px 34px 48px 69px 51px 69px 67px;
  grid-template-areas:
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . x ."
    ". . . . . . . . . . . . ."
    ". . t t t t t t t . . . ."
    ". . . . . . . . . . . . ."
    ". n n n n n n n n n . . ."
    ". . . . . . . . . . . . ."
    ". s s s . . . e e e . . ."
    ". s s s . . . e e e . . ."
    ". s s s . . . e e e . . ."
    ". . . . . . . . . . . . ."
    ". d d d . . . o o o . . ."
    ". . . . . . . . . . . . ."
    ". . . z z z z z . . . . .";
}
